* {
    font-family: "Roboto",sans-serif;
}

.main-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



img{
    margin-left:860px;
    text-align: center;
    margin-bottom: 100px;
    width:300px;
    height:150px;
    
}

.displaynone{
    display: none;
}

.display{
    display: block;
}


.result{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: start;
}

.add  {
    margin-top: 10px;
}

.goalObject {
    background: #bbb;
    display: flex;
    zoom: 1;
    *display: inline;
    padding: 14px;
    color: black;
    flex-direction: column;
    
 
}

.form-control {
    margin-bottom: 12px;
}


label {
        color:white;
        width: 250px;
        font-size: 125%;
        margin-bottom: 30px;
        padding: 10px;
        border: 1px solid transparent; 
        border-radius: 1px;
        
}

.detailed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goalObject {
    margin-bottom: 5px;
    border-radius: 12px;
}
input {
        background-color: #ccc;
        float: right;
        font-size: 125%;
        min-width: 70px;
        padding: 10px 15px;
        border: 1px solid transparent; 
        color: #333;
        border-radius: 1px;
        text-align: start; 
        
}


input :hover, input:active{
        border: 1px solid #fff;
        background-color: #bbb;
        box-shadow: 0 0 8px #fff;
    
}

input:focus {
    box-shadow: 0 0 1.5px 1px #bbb;
} 


li {
    text-align: start;
}

body {
   
    
   background-image: url(images/wp2757874.gif);
  
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  div[class*=box] {
      height: 33.33%;
      width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background-color: rgb(20, 20, 20);
    color:white;
}


  /* .box-2 { background-color: rgb(20, 20, 20);; } */
  
  
  .btn {
      line-height: 50px;
      height: 50px;
      text-align: center;
      width: 50px;
      cursor: pointer;
  }
  
  .button {
      margin-top:20px;
      display: flex;
      

  }
  /* 
  ========================
        BUTTON ONE
  ========================
  */
  
.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative;	
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
    /* background-color: rgba(255,255,255,0.1); */
    background-color:rgb(33, 35, 50);
   
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	/* background-color: #3C3C3C; */
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: #3C3C3C;
}
.btn-two:hover::after {
  transform: rotate(45deg);
  /* background-color: #3C3C3C; */
  background-color: 	rgb(150, 45, 54)
}
  