body {
    background-image: url('images/cool-background.png');
    
  }

  html, body {
    margin: 0;
    padding: 0;
}
div{
    padding-top:8px;
}
.main-text{
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top:11px;

}

.main-form{
    margin:70px auto;
    display:flex;
    width:60%;
    position:relative;
    box-sizing: border-box;
    opacity:0.7;
    /* display:none; */
}


.form{
    width:40%;
    background:white;
    border-radius:20px;
}
label{
    font-size:18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top:10px;
    padding-left:10px;
}
input{
    height:23px;
    margin:5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    border:0;
    border-bottom:0.5px solid lightgray;
    width:40%;
    text-align:center;
    margin:0 auto;
    border-radius:1px;
    float: right;
    margin-right:10px;
    margin-top:5px;
    
    
  
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



label, select{
    display: inline-block;
    margin:0 auto;
    border-radius:1px;
    
}

.finalNotesBox{
    width: 50%;
    display:flex;
    position:relative;
    margin:0 auto;
    border:1px solid black;
    box-sizing: border-box;
    margin-right: 0;
    
}

.result{
    width:80%;
    height: 40px;
    display:flex;
    margin:30px auto;
    border:1px solid black;
    box-sizing: border-box;
    position:relative;
    
}


.delete-img{
    width:30px;
    margin:0 auto;
}

.more-info{
    width:30px;
    margin:0 auto;
   
}

p{
    text-align:center;
    font-size:13px;
    font-family: 'Roboto', sans-serif;
}

.add{
    width:100%;
    height: 40px;
    background-color: #6DA549;
    position:relative;
    margin:0 auto;
    margin-top:10px;
    border:0.5px solid lightgray;
    width:40%;
    margin-bottom:10px;
    display: inline-block;
    margin-left:20px;
    border-radius:5px;
    color:white;
}

.clear{
    width:100%;
    height: 40px;
    background-color: #6DA549;
    position:relative;
    margin:0 auto;
    margin-top:10px;
    border:0.5px solid lightgray;
    width:40%;
    margin-bottom:10px;
    display: inline-block;
    margin-left:22px;
    border-radius:5px;
    color:white;
}

.addGoal{
    width:100px;
    height: 50px;
    display:block;
    margin:0 auto;
}

.goal-n-deposit{
    display:block;
    width:500px;
    background-color:white;
    margin-left:100px;
    border-bottom:1px solid black;
    border-radius:20px;
}

.button-second.more-info{
    background-color:green;
    width:100px;
    margin-left:47px;
}

.button-second.edit{
    background-color:green;
    width:100px;
    margin-left:26px;
}
.button-second.delete-info{
    background-color:green;
    width:100px;
    margin-left:26px;
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
/* identical to box height */
    color: #6F6E75;
    margin-left:56px;
}

h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    color: #6F6E75;
    margin-left:56px;
}
td{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E75;
    justify-content: space-between;
    padding-left:4px;   
    
}
.result-table{
padding-left:50px;
justify-content: space-between;
}


.detailed {
    margin-left: 45px;
}

.displaynone{
    display: none;
}